.header {
  display: flex;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #1D1E18;
  color: white;
  height: 40px;
}

.header a {
  color: #FFFFFF;
  text-decoration: none;
}

.header a:first-child {
  flex: 1;
}

.sort {
  padding: 10px;
  margin-top: 10px;
}

.sort select, .sort div {
  display: inline-block;
  margin-right: 10px;
}

.home, .login {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 100%;
}

table {
  border: 1px solid gray;
}

table th {
  font-weight: bold;
  border-bottom: 1px solid gray;
}

table thead {
  border-bottom: 1px solid gray;
}

table tbody {
  text-align: center;
}

.addTask, .login {
  margin-top: 20px;
}

.addTask span, .login span {
  display: block;
  font-size: 12px;
}

.error-msg {
  color: red;
  font-size: 10px;
}

.addTask input {
  width: 100%;
}

.addTask .title, .login .title {
  text-align: center;
  font-weight: bold;
}

.pagination {
  display: flex;
  margin-top: 10px;
  max-width: 300px;
}
.pagination button {
  margin: 0 10px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}